body{
	margin:0;
	padding:0;
	
}

.containter{
	width:1000px;
	margin:0 auto;
	background:white;
	border-color:1px solid black;
    border-radius:18px;
	
}
#head h2{ color:green;}
#head{
	clear:both;
	border-radius:5px;
	margin-top:10px;
	background:#880e4f;
	width:1000px;
	height:100px;
	text-align:center;
	padding-top:10px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#content{
	width:750px;
	height:700px;
    background-color:#C6CBC4;
	float:right;
	border-radius:10px;
	
}
#sidebar{
	width:250px;
	height:700px;
	float:left;
	background:#880e4f;}
	
#menu
{
	line-height:30px;
	padding:0px;
}
#menu li{
	list-style:none;
	margin-left:25px;
	display:block;
	padding:8px;
}
#menu a 
{
	text-decoration:none;
	color:white;
	font-size:18px;
	margin:15px;
}
#menu a:hover {
	padding:8px;margin:5px;text-decoration:none;font-size:16px;color:white;
	font-weight:bolder;
	background-color:#4CAF50;-moz-border-radius: 4px; border-radius: 4px;
	}
#sidebar h3{
	margin-left:30px;
	text-decoration:none;
	color:green;
	
	}
#foot h4{ color:green;} 
#foot{
	border-radius:8px;
	text-align:center;
	padding:2px;
	width:1000px;
	height:50px;
	background:#880e4f;
	clear:both;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#f input{
	border-radius:5px;
	padding:8px;
	border:1px solid black;
	font-weight:bolder;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	
	}
#f h2{
	color:black;
	margin-top:10px;
	font-size:20px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight:bolder;
	
	}
#f select
{
width:200px;
padding:5px;
border-color:1px solid black;
border-radius:4px;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#f textarea{
	border-radius:5px;
	padding:8px;
	border:1px solid black;
	font-weight:bolder;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	
	}
#pagination{
	margin-top:20px;
	
	
	}
#pagination a{
	color:blue;
	text-decoration:none;
	font-size:18px;
	margin:5px;
	
}